<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800&amp;subset=latin-ext" rel="stylesheet">
    <meta name="theme-color" content="#152B55">
    <meta name="msapplication-navbutton-color" content="#152B55">
    <meta name="apple-mobile-web-app-status-bar-style" content="#152B55">
  </head>
  <body>
    <div id="app"></div>
    <div id="popup-root"></div>
    <div id="notifications-root"></div>
  </body>
</html>
